.chunnts {
    transition: background-color 0.5s ease;
    background-color: $color-lighter-gray;

    &--subscribed {
        background-color: $color-sky-blue;
    }
}

.forecast-content {
    &__image {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}
