$element-list: sun moon clouds rain snow fog;

$transition-duration: 0.5s;

.cityscape {
  width: 100%;
  display: none;
  &--show {
    display: block;
  }
}

.berne {

  & > .sun {
      fill: $color-sun;

      &__sunbeams {
          stroke: $color-sun;
      }
  }

  & > .moon {

    &-base {
        fill: $color-moon;
    }

    &-crater {
        fill: $color-moon-craters;
    }
  }

  .clouds {
      fill: $color-cloud-gray;
      transition: fill $transition-duration ease;

      &--light {
          fill: transparentize($color-cloud-gray, 0.5);
      }

      &--night {
         fill: $color-cloud-gray-night;
      }
  }

  .mountains {
      fill: $color-light-blue;
      transition: fill $transition-duration ease;

    &--dark {
      fill: $color-mountains-cloudy;
    }

    &--night {
      fill: $color-mountains-night;
    }
  }

  .muenster {
      fill: $color-lighter-gray;
      transition: fill $transition-duration ease;

      &--night {
        fill: $color-muenster-night;
      }
  }

  .buildings {
      fill: $color-buildings;
      transition: fill $transition-duration ease;

      &__windows {
          fill: $color-light-blue;
          transition: fill $transition-duration ease;

        &--cloudy {
          fill: $color-windows-cloudy
        }

        &--night {
          fill: $color-windows-night;
        }
      }

      &--night {
        fill: $color-buildings-night
      }
  }

  .raindrop {
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      transform-origin: 50% 50%;
      animation-duration: 18s;
      animation-direction: normal;
      fill-opacity: 0;
      animation-name: drizzleFall, fillOpacity2;
      animation-timing-function: ease-in;
      animation-duration: 1.5s;
      stroke: $color-raindrop;
  }

  .raindrop:nth-child(1) {
      animation-delay: 0s;
  }

  .raindrop:nth-child(2) {
      animation-delay: 0.4s;
  }

  .raindrop:nth-child(3) {
      animation-delay: 0.9s;
  }

  .raindrop:nth-child(4) {
      animation-delay: 0.2s;
  }

  .snow {
      &__snowflake {
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          transform-origin: 50% 50%;
          animation-duration: 4s;
          animation-direction: normal;
          fill-opacity: 0;
          animation-name: snowFall, fillOpacity2;
          animation-timing-function: ease-in;
          fill: $color-raindrop;

          &:nth-child(1) {
              animation-delay: 0s;
          }

          &:nth-child(2) {
              animation-delay: 2s;
          }

          &:nth-child(3) {
              animation-delay: 1.5s;
          }

          &:nth-child(4) {
              animation-delay: 0.5s;
          }

          &:nth-child(5) {
              animation-delay: 1.9s;
          }

          &:nth-child(6) {
              animation-delay: 1s;
          }

          &:nth-child(7) {
              animation-delay: 0.1s;
          }
      }
  }

  .fog {
      fill: $color-very-light-gray;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      transform-origin: 50% 50%;
      animation-direction: normal;
      animation-timing-function: ease-in-out;

      &:nth-of-type(1) {
          animation-duration: 18s;
          animation-name: fogMovement1;
          fill: transparentize(darken($color-very-light-gray, 10%), 0.6);
      }

      &:nth-of-type(2) {
          animation-duration: 25s;
          animation-name: fogMovement2;
          fill: transparentize(darken($color-very-light-gray, 20%), 0.3);
      }

      &:nth-of-type(3) {
          animation-duration: 31s;
          animation-name: fogMovement3;
          fill: transparentize(darken($color-very-light-gray, 10%), 0.1);
      }
  }
}

.rotating {
  transform-origin: 50% 50%;
  animation: rotating 120s linear infinite;
  transform-box: fill-box;
}

@each $element in $element-list {
    .#{$element}--hide {
        display: none;
    }
}


// animations

@keyframes drizzleFall {
    0% {
    transform: translate(0, 0);
    }

    100% {
    transform: translate(110px, 176px);
    }
}

@keyframes snowFall {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(130px, 216px);
    }

}

@keyframes fillOpacity2 {
    0% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }

    50% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }

    100% {
        fill-opacity: 0;
        stroke-opacity: 0;
    }
}

@keyframes fogMovement1 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(-20px, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes fogMovement2 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(30px, -20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes fogMovement3 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(-40px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

// elements
.controls {
  display: flex;
  justify-content: center;
  padding: 1rem 0 2rem;

  &__toggle {
    padding-right: 2rem;

    &--night {
      color: $color-very-light-gray
    }
  }
}
