$element-list: sun moon clouds rain snow fog;

$color-sun: rgba(255, 255, 144, 1);
$color-light-blue: rgba(217, 242, 255, 1);
$color-lighter-gray: rgba(153, 153, 153, 1);
$color-very-light-gray: rgba(200, 200, 200, 1);
$color-gray: rgba(153, 153, 153, 1);
$color-cloud-gray: rgba(136, 136, 136, 1);


@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  transform-origin: 50% 50%;
  animation: rotating 120s linear infinite;
}

@each $element in $element-list {
    .#{$element}--hide {
        display: none;
    }
}

.sun {
    fill: $color-sun;

    &__sunbeams {
        color: $color-sun;
    }
}

.clouds {
    fill: $color-cloud-gray;

    &--light {
        fill: transparentize($color-cloud-gray, 0.5);
    }
}

.mountains {
    fill: $color-light-blue;
}

.muenster {
    fill: $color-lighter-gray
}

.buildings {
    fill: $color-gray;

    &__windows {
        fill: $color-light-blue;
    }
}

.raindrop {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50% 50%;
    animation-duration: 18s;
    animation-direction: normal;
    fill-opacity: 0;
    animation-name: drizzleFall, fillOpacity2;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
}
    
.raindrop:nth-child(1) {
    animation-delay: 0s;
}

.raindrop:nth-child(2) {
    animation-delay: 0.4s;
}

.raindrop:nth-child(3) {
    animation-delay: 0.9s;
}

.raindrop:nth-child(4) {
    animation-delay: 0.2s;
}    

.snow {
    &__snowflake {
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform-origin: 50% 50%;
        animation-duration: 4s;
        animation-direction: normal;
        fill-opacity: 0;
        animation-name: snowFall, fillOpacity2;
        animation-timing-function: ease-in;

        &:nth-child(1) {
            animation-delay: 0s; 
        }
          
        &:nth-child(2) {
            animation-delay: 2s; 
        }
        
        &:nth-child(3) {
            animation-delay: 1.5s;
        }
        
        &:nth-child(4) {
            animation-delay: 0.5s;
        }
        
        &:nth-child(5) {
            animation-delay: 1.9s;
        }
        
        &:nth-child(6) {
            animation-delay: 1s;
        }
        
        &:nth-child(7) {
            animation-delay: 0.1s;
        }
    }
}

.fog {
    fill: $color-very-light-gray;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50% 50%;
    animation-direction: normal;
    animation-timing-function: ease-in-out;

    &:nth-of-type(1) {
        animation-duration: 18s;
        animation-name: fogMovement1;
    }

    &:nth-of-type(2) {
        animation-duration: 25s;
        animation-name: fogMovement2;
    }

    &:nth-of-type(3) {
        animation-duration: 31s;
        animation-name: fogMovement3;
    }
}

// animations 

@keyframes drizzleFall {
    0% {
    transform: translate(0, 0);
    }

    100% {
    transform: translate(110px, 176px);
    }
}

@keyframes snowFall {
    0% {
      transform: translate(0, 0); 
    }
  
    100% {
      transform: translate(130px, 216px); 
    } 
    
}

@keyframes fillOpacity2 {
    0% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }

    50% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }

    100% {
        fill-opacity: 0;
        stroke-opacity: 0;
    }
}

@keyframes fogMovement1 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(-20px, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes fogMovement2 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(30px, -20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes fogMovement3 {
    0% {
    transform: translate(0, 0);
    }

    50% {
        transform: translate(-40px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}